﻿@model HomeViewModel


   <h2>@Model.Title</h2>

    @foreach(var car in Model.Cars)
    {
        <div class="col-sm-6 col-lg-6 col-md-6">
            <div class="thumbnail">
                <img src="@car.ImageThumbnailUrl" alt="" />
                <div class="caption">
                    <h3 class="pull-right">@car.Price.ToString("c")</h3>
                    <h3>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@car.Id">@car.Name</a>
                    </h3>
                    <p>@car.ShortDescription</p>
                </div>
            </div>
        </div>
    }
