﻿body {
    padding-top:50px;
    padding-bottom:20px;
    background-image: url('/images/background.jpg');
    background-repeat:repeat;
    color:cornflowerblue;
    
}

.body-content {
        padding-left:10px;
        padding-right:10px;
        
}

.caption-full{
    color:black !important;
}